.calendar-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.calendar-week {
  width: 100%;
  min-height: 10em;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
}

.calendar-day {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid grey;
  margin: 2px;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 10em;
  max-width: 10em;
}

.calendar-day-course {
  background-color: rgb(220, 198, 7);
  color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 5px;
  margin-top: 2px;
}

.calendar-day-course a {
  font-size: 14px;
}

.calendar-day-number {
  text-align: center;
  padding: 5px;
}

.day-now {
  background-color: blue;
  color: white;
  border-radius: 50%;
}

.day-weekend {
  background-color: gainsboro;
}
