@import 'accordion.css';

.detail-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.detail-image-container {
  display: flex;
  min-width: 200px;
  padding: 30px;
}

.detail-image {
  height: 400px;
}

.detail-text-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-width: 200px;
  width: 50%;
}

.detail-text {
  width: 100%;
}

.detail-text h3 {
  text-align: left;
}

.detail-footer-text {
  background-color: #a9a9a9;
  display: flex;
  flex-direction: row;
}

.detail-footer-text-image {
  min-width: 300px;
  align-self: center;
  text-align: center;
}

.detail-footer-image {
  padding: 20px;
  width: 150px;
  border-radius: 250px;
}

.detail-accordion {
  width: 100%;
}

.detail-accordion-detail {
  border: 1px solid #000000;
  height: 40px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  padding: 4px;
}

.detail-accordion-detail-state {
  margin-right: auto;
}

.fa-star {
  color: #ffffff;
}
.fa-star.checked {
  color: #ffff00;
}

.fa-check-circle {
  color: green;
}

.courses-container {
  flex-wrap: nowrap;
}
