.pays-cointainer {
  margin-top: 40px;
}

.pays {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 200vh;
}
.pay {
  text-align: center;
  flex: 0 1 calc(25% - 1em);
}
.pay-image {
  height: 40%;
}
