* {
  margin: 0px;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html,
body {
  height: 100%;
}

h1 {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  padding: 10px;
  font-size: 35px;
  color: white;
  background-color: #324405;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

main {
  flex: 1 0 auto;
  padding: 20px;
}

section {
  display: -webkit-flex;
  display: flex;
}
/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

footer {
  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
}

.search {
  background: #ebebeb;
  border: 0;
  border-radius: 4.5px;
  color: #454647;
  font-size: 18px;
  height: 20px;
  padding: 8px 52px 8px 16px;
}
.shopping {
  padding: 0px 25px;
}

.shopping-count {
  background-color: #fa3e3e;
  border-radius: 3px;
  color: #fff;
  padding: 2px 5px;
  line-height: 1;
  font-size: 18px;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.5s;
  position: relative;
  bottom: 30px;
  right: 20px;
}

.gallery {
  background: #eee;

  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.steps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.step {
  background: #454647;
  border: 0;
  border-radius: 4.5px;
  color: #f7fafc;
  font-size: 45px;
  text-align: center;
  width: 33%;
  min-height: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.step {
  background: #454647;
  border: 0;
  border-radius: 4.5px;
  color: #f7fafc;
  font-size: 45px;
  text-align: center;
  width: 33%;
  min-height: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.curses {
  display: flex;
  flex-direction: rows;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 200vh;
}
.curse {
  border: 1;
  border-color: #324405;
  border-style: solid;
  border-radius: 4.5px;
  color: #1680c6;
  font-size: 45px;
  text-align: center;
  flex: 0 1 calc(33% - 1em);
  height: 60px;
}
